---
layout: standard
---
.posts.recent
  %h2 Most Recent Post
  - site.posts.first.tap do |post|
    %h3{:style => "margin-top:0;"}
      %a{:href => post.url}= post.title
    .entry
      - if post.summary
        = post.summary
        %p
          %a{:href => post.url} Read More »
      -else
        = post.content
%a{:href => '/posts/'} « Older Entries


%h2 Other Sites
.siteBanner.widget
  .inner
    %a{:href => 'http://www.kanjitastic.com/'}
      %img{:src => 'http://c5.simulacre.org/images/siteBanners/CardsBadge.gif' }
    .siteBlurb
      %p Study for the <a href="http://www.jees.or.jp/jlpt/en/">JLPT</a> or just increase your Japanese vocabulary using flash cards.
      %p In order to do well on the JLPT you need to know the basic meaning and exact pronunciation of the required kanji by themselves and in context. Our cards don't confine you to memorizing just the <em>meaning or the pronunciation</em>. We enable you to drill <em>both</em> and give you cards for the associated vocabulary. We'll even test you on the ones you get wrong most often.
    .clear &nbsp;

.siteBanner.widget
  .inner
    %a{:href => 'http://plurim.us/'}
      %img{:src => 'http://c5.simulacre.org/images/siteBanners/PlurimusBadge.png' }
    .siteBlurb
      %p <a href="http://plurim.us/">Plurimus</a> enables you to track your finances in <em>any currency</em> at <em>any time</em> from <em>any where</em>.
      %p Not only can you file transactions in any currency, but you can easily execute calculations on any, or all transactions even if they are in different currencies. Plurimus will automatically determine the exchange rates for the day of the transactions even if it was executed months ago. Not to worry, you can override the exchange rate on your own if you know better.
    .clear &nbsp;

.siteBanner.widget
  .inner
    %a{:href => 'http://www.simulacre.org/ee/'}
      %img{:src => 'http://c5.simulacre.org/images/siteBanners/PhotographyBadge.png' }
    .siteBlurb
      %p Professional <a href="http://www.simulacre.org/ee/i/simIndigo/flickr/tags/kendo/">kendo photography</a> and <a href="http://www.simulacre.org/ee/i/simIndigo/blog/">personal blog</a></p>
      %p View thousands of photos from the 13th World Kendo Championships in Taipei, 21st European Kendo Championships in Lisbon, 46th All Japan Women’s Kendo Championships, 55th All Japan Men’s Kendo Championship, Noma Dojo Publishing Companies Kendo Tournaments, travel photography from all over Japan, SE Asian and Europe as well as snowboarding trips in Hokkaido, Japan.</p>
    .clear &nbsp;

%hr
%p
  %a{:href => 'http://virtualkendoenglish.blogspot.com/2008/06/interview-with-caleb-crane.html'}
    %img{:src => 'http://c5.simulacre.org/images/Me-London-120x120.png', :style=>"float:left; margin:0 10px 10px 0"}
%h4
  %a{:href => "http://virtualkendoenglish.blogspot.com/2008/06/interview-with-caleb-crane.html"} Caleb Crane
%p Developer, Photographer, Tokyo resident.
%p Check  out KanjiTasitc <a href="http://www.kanjitastic.com">http://www.kanjitastic.com</a> for free Japanese flashcards for your computer, or iPhone.
%p Take a  peek at <a href="http://www.simulacre.org/ee/">http://www.simulacre.org/ee/</a> for awesome kendo photography.

= page.disqus_comments
