---
layout: base
---
%script{:src => '/js/flickr-app.js', :type => 'text/javascript'}
:javascript
  // @todo - use a  templating library ...
  window.addEvent("domready", function(){
    flickrApp('ffb0f7ab9cfb19fa439130d83570d6d4', '87871204@N00', function(app){
      console.log("received");
      console.log(app);
      app.route(app.query); 
    })
  });

#photo
  %p.desc
  Tags:
  %ul.tags
