.widget
  .border
    #advert.center.inner
      %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
.widget
  .border
    .inner
      %ul.nav{:role => "navigation"}
        %li.pagenav
          %h2 Pages
          %ul
            %li.page_item.page-item-2.current_page_item
              %a{:href => "/", :title => "About"} About
            %li.page_item.page-item-89
              %a{:href => "/posts/", :title => "Posts"} Posts
        %li
          %h2 Archives
          = grouped_posts
        = category_list
#rss-widg.widget
  .border
    .center.inner
      %a.rss_button{:href => "/feed/"} Subscribe
#contact-widg.widget
  .border
    .center.inner
      %a#mootact_button{:href => "#"} Contact
#twidget.widget{:style => "overflow:hidden;"}
  .border
    #twitter.center.inner
      %a.twitter_button{:href => "http://www.twitter.com/calebcrane"} Follow Me
      #tweets
    %script{:src => "http://c5.simulacre.org/js/twidget.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :type => "text/javascript"}
      window.addEvent("domready", function(){ new Twidget({user:"calebcrane"}); });
