.post
  %h1 Twidget
  %p
    Twidget retrieves recent tweets from any user’s public timeline, marks them up and puts them into a container element.
  %p
    %img{:src => "http://c5.simulacre.org/images/twidget/banner_200x100.png"}
