---
layout: base
---
-#encoding: utf-8
%p.postmetadata
  Posted:
  = page.date.strftime('%Y-%m-%d')
  - if (! page.categories.empty?)
    in
    = page.category_links

%p.postmetadata
  Tags:
  = page.tag_links

~ content
= page.disqus_comments
